a {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 120;
    margin: 42;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0/* adjust to tweak wierd fonts */;
    }

    .parent {
        font-size: 0;
        line-height: 0;
        }
        
        h1, p {
        font-size: 16px;
        margin: 0;
        display: inline-block;
        }

        